*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#preloader {
    background: #1a1a1a;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


#quotes {
    margin-top: 40vh;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    color: #ffffff;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}


#header{
    line-height: 4rem;
}

#Theme-Button-1{
    background-color: #FAFAFA;
    width: 25%;
    height: 20px;
    font-family: 'Roboto Mono',-serif;
    font-size: 14px;
    border: none;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 1.2rem;
    display: flex;
}

body{
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono';
    line-height: 1.6rem;
    justify-content: center;
    position: relative;
}
#container{
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
#newtask{
    position: relative;
    background-color: #eaeaea;
    padding: 10px 10px;
    border-radius: 30px;
    margin-top: 1rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#newtask input{
    width: 70%;
    height: 45px;
    font-family: 'Roboto Mono',sans-serif;
    font-size: 15px;
    border: 2px solid #eaeaea;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
}
#newtask input:focus{
    outline: none;
    border-color: #8052ec;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 20px;
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 16px;
    background-color: #d4d4d4;
    border: none;
    color: #1a1a1a;
    cursor: pointer;
    outline: none;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    padding: 10px 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border: none;
    background-color: #d4d4d4;
    border-radius: 20px;
}
.download-icon {
    height: 20px;
}
#tasksContainer{
    background-color: #eaeaea;
    padding: 15px 10px;
    margin-top: 60px;
    border-radius: 30px;
    width: 40rem;
    position: relative;
    display: block;
}
.custom-file-upload {
    background-color: #d4d4d4;
}
.material-symbols-outlined {
    color: #111111;
}
.task{
    background-color: #eaeaea;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Roboto Mono',sans-serif;
    font-weight: 400;
}
.task:hover{
    background-color: #d40909;
    scale: 110%;
}
.task span{
    font-family: 'Roboto Mono',sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.task button{
    background-color: #d4d4d4;
    color: #111111;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

.task-image {
    width: 200px;
    height: auto; 
    object-fit: cover; 
    border-radius: 20px;
}

.completed{
    text-decoration: line-through;
}

#footer{
    display: flex;
    padding-top: 5px;
    
}

#show-themes {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

#show-calendar {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

#show-timer {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

#show-settings {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}
#left-wing {
    cursor: pointer;
}

#theme-area {
    margin-top: 1rem;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    background: #eaeaea;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#theme-center {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}
.theme-button {
    padding: 1rem 0;
    background: gray;
    border-radius: 0.4rem;
    text-align: center;
    font-size: .8rem;
    cursor: pointer;
}
.theme-button:hover {
    opacity: 0.3;
    transition: .2s ease;
}

#calendar-center {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

#calendar-area {
    margin-top: 1rem;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    background: #eaeaea;
    display: flex;
}

#timer-center {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

#timer-area {
    margin-top: 1rem;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    background: #eaeaea;
}

#settings-center {
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

#settings-area {
    margin-top: 1rem;
    padding: 1.4rem 1rem;
    border-radius: 10px;
    background: #eaeaea;
}


.hidden {
    display: none !important;
}

