body{
    background-color: #211333;
  }
  #header{
    color: #eed484;
  }
  #newtask{
    background-color: #2e1a47;
  }
  #newtask input{
    border: 2px solid #211333;
    color: #eed484;
    background-color: #211333;
  }
  #newtask input:focus{
    border-color: #eed484;
  }
  #newtask button{
    background-color: #211333;
    color: #eed484;
  }
  .custom-file-upload {
    background-color: #211333;
  }
  .material-symbols-outlined {
    color: #eed484;
  }
  .task{
    background-color: #2e1a47;
    box-shadow: 0 30px 30px -10px #201034;
  }
  .task span{
    color:#eed484 ;
  }
  .task button{
    background-color: #211333;
    color: #eed484;
  }
  .completed{
    text-decoration: line-through;
    color: #bb0000;
  }
  #timer-area {
    background-color: #2e1a47;
  }
  #display {
    color: #eed484;
  }
  #plus, #minus {
    background-color: #211333;
  }
  #pause, #stop, #play {
    background-color: #211333;
  }
  #theme-area {
    background: #2e1a47;
  }
  #footer {
    color:#eed484;
  }
  #left-wing {
    color: #eed484;;
  }